{% extends "admin/base.html" %}
{% load i18n static ot_tags %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrahead %}
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'transit/stylesheets/transit.css' %}"/>
{% endblock %}


{% block userlinks %}

  {% if site_url %}
      <a href="{{ site_url }}">{% trans 'View site' %}</a> /
  {% endif %}

  {% ot_languages as langs %}

  {% for lang in langs %}
    <a href="{{ request|switch_i18n:lang.0 }}" class="i18n_flag">

    {% with 'transit/images/'|add:lang.0|add:'.png' as image_lang_static %}
      <img src="{% static image_lang_static %}" alt="{{lang.1}}"/>
      <!-- <img src="{% static 'admin/images/'|add:lang.0|add:'.png' %}" ... > -->
    {% endwith %}
  </a> /
  {% endfor %}

  {% if user.is_active and user.is_staff %}
      {% url 'django-admindocs-docroot' as docsroot %}
      {% if docsroot %}
          <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
      {% endif %}
  {% endif %}

  {% if user.has_usable_password %}
  <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
  {% endif %}
  <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}"> {{ site_header }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}



<!--  -->

